<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locais</title>
    <link rel="stylesheet" href="../dist/main.css">
</head>
<body class="bg-green-400">

    <!-- header - cabeçalho com a imagem, pode definir a largura do header pra pegar 100% da tela e colocar a imagem no centro, usando flexbox ou text-center -->
    <header> 
        <img src="../img/SALA NO MAPA.png" alt="MAPA DA UNIVIÇOSA">
    </header>

    <!-- main - conteúdo principal da página -->
    <main>
        <!-- div com o titulo principal -->
        <div>
            <!-- luiz vai mudar isso depois -->
            <h2>INFORMAÇÕES DA(O) (SALA OU LOCAL)</h2>
        </div>

        <!-- div com as informações da sala ou local(banheiro, biblioteca ...) -->
        <div>
            <h3>Bloco: H</h3>
            <h3>Andar: 3°</h3>
            <h3>Número: 304</h3>
            <h3>Tipo: Sala de aula</h3>
        </div>

        <!-- titulo e imagem do local -->
        <div>
            <h2>SALA 304</h2>
            <!-- colocar a imagem aqui -->
        </div>
    </main>

</body>
</html>